<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hình chữ nhật</title>
</head>
<body>
<h2>Tính diện tích và chu vi hình chữ nhật</h2>
<form th:action="@{/rectangle/calc}" method="post">
    <label>Chiều dài: </label>
    <input type="number" step="0.1" name="length"/><br><br>
    <label>Chiều rộng: </label>
    <input type="number" step="0.1" name="width"/><br><br>
    <button type="submit">Tính</button>
</form>

<!-- Kết quả -->
<p th:text="'Chu vi: ' + ${perimeter}"></p>
<p th:text="'Diện tích: ' + ${area}"></p>
</body>
</html>
